@font-face {
	font-family: 'ProtestGuerrilla';
	src: url('/fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'NerkoOne';
	src: url('/fonts/NerkoOne-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('/fonts/Poppins-Bold.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('/fonts/Poppins-SemiBold.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'PlaywriteCU';
	src: url('/fonts/PlaywriteCU-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}
.navBodyCover {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98vw;
	height: 70px;
 background-color: white;
}

.navBodyCoverH {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98vw;
	height: 70px;
 background-color: #4CAF50;
}

.regNavBodyCover {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 98vw;
	height: 70px;
	background-image: linear-gradient(to right, rgb(241, 243, 241), white);
}

.navBody {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: inherit;
	padding-left: 10px;
	padding-right: 10px;
}

.logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 15vw;
}

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 57.9vw;

}
.inputCover {
	margin-top: 5vh;
}

.links {
	display: flex;
	justify-content: flex-end;
	column-gap: 10px;
	align-items: center;
	width: max-content;
	padding-top: 5px;
}

.menu {
	display: none;
}

.active {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	color:#4CAF50;
	font-size: 2em;
	font-family: 'Poppins-Bold';
	text-shadow: 1px 1px 2px white, 0 0 5px white, 0 0 2 5px rgb(149, 149, 149);
	user-select: none;
}
.activeH {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	color:white;
	font-size: 2em;
	font-family: 'Poppins-Bold';
	text-shadow: 1px 1px 2px white, 0 0 5px white, 0 0 2 5px rgb(149, 149, 149);
	user-select: none;
}
.inActive {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	color: #4CAF50;
	font-size: 2em;
	font-family: 'Poppins-Bold';
	user-select: none;
}

.navSpan{
	padding-bottom: 5px;
	font-family: 'Poppins-SemiBold';
}

.inActiveH {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	color: white;
	font-size: 2em;
	font-family: 'Poppins-Bold';
	user-select: none;
}

.activeBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	font-size: 11px;
	font-family: 'Poppins-Bold';
	border-bottom: 2px solid #4CAF50;
	color: #4CAF50;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	font-weight: 400;
	transition: text-shadow 0.2s ease-in-out 0.2s;
	user-select: none;
	column-gap: 5px;
}

.activeBtnH {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	font-size: 11px;
	font-family: 'Poppins-Bold';
	border-bottom: 2px solid white;
	color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	font-weight: 400;
	transition: text-shadow 0.2s ease-in-out 0.2s;
	user-select: none;
	column-gap: 5px;
}

.inActiveBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	color: dodgerblue;
	font-size: 11px;
	font-family: 'Poppins-Bold';
	border-bottom: 2px solid white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	font-weight: 400;
	transition: background-color 1s ease-in-out 0.2s, border-bottom 1s ease-in-out 0.2s, box-shadow .1s ease-in-out 0.1s;
	user-select: none;
	column-gap: 5px;
}

.inActiveBtnH {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
	color: white;
	font-size: 11px;
	font-family: 'Poppins-Bold';
	border-bottom: 2px solid #4CAF50;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 2px;
	font-weight: 400;
	transition: background-color 1s ease-in-out 0.2s, border-bottom 1s ease-in-out 0.2s, box-shadow .1s ease-in-out 0.1s;
	user-select: none;
	column-gap: 5px;
}

div.active:hover {
	cursor: pointer;

}

div.inActive:hover {
	cursor: pointer;
}

div.activeBtn:hover {
	cursor: pointer;
	text-shadow: 1px 1px 1px silver, 0 0 2px silver, 0 0 2px silver;
}

div.inActiveBtn:hover {
	cursor: pointer;
	background-color: white;
	border-radius: 5px;
	border-bottom: 2px solid white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

div.inActiveBtnH:hover {
	cursor: pointer;
	background-color: #4CAF50;
	color: white;
	border-radius: 5px;
	border-bottom: 2px solid #4CAF50;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.logoHead {
	font-weight: 900;
	user-select: none;
}

.logoTail {
	font-weight: 900;
	z-index: 1;
	margin-left: -7px;
	user-select: none;
}
.input {
	padding-left: 10px;
	width: 45vw;
	height: 30px;
	border: 1px solid silver;
	border-radius: 25px;
}
.ul {
	position: absolute;
	left: 1px;
	top: 80px;
	width: 98.345vw;
	max-height: 680px;
	overflow-y: scroll;
	padding-top: 10px;
	padding-bottom: 30px;
	z-index: 3;
	background-image: linear-gradient(
		to right,
		rgba(0, 6, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	);
	animation:  0.7s linear appear;
}
@keyframes appear {

  0%{
    background-image: linear-gradient(
    to right,
    rgba(206, 208, 206, 0.5),
      rgba(134, 134, 134, 0.5)
  );
  opacity: 0;
  transform: translateY(-7px);
  }
  100%{
    background-image: linear-gradient(
      to right,
      rgba(206, 208, 206, 0.5),
      rgba(134, 134, 134, 0.5)
    );
    opacity: 1;
    transform: translateY(0);
  }
}

.filterValueCover {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: max-content;
	max-height: 680px;
	width: 95vw;
	flex-wrap: wrap;
	justify-self: center;
	padding-top: 10px;

	row-gap: 10px;
}
.filterValue {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95vw;
	height: 670px;
}
.vendorCover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 43vw;
	height: 450px;
	box-shadow: 0px 0px 1px silver, 0 0 2px silver, 0 0 5px silver;
	border-radius: 5px;
	margin-left: -2.5vw;
	background-color: white;
}

.img {
	width: 40vw;
	height: 350px;
	border-radius: 5px;
}
.noneSearch {
	display: none;
}
.hide {
	display: none;
}
.vendorName {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 900;
	color: white;
	background-image: linear-gradient(
		to right,
		rgba(1, 141, 1, 0.7),
		rgba(1, 40, 1, 0.7)
	);
	width: 150px;
	height: 25px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
	user-select: none;
}

.idiImg {
	width: 150px;
	height: 150px;
	border-radius: 5px;
	margin-top: 5px;
}
.VendorRenderCover {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: max-content;
	padding-left: 5px;
	padding-right: 5px;
	height: 190px;
	box-shadow: 0px 0px 1px silver, 0 0 2px silver, 0 0 5px silver;
	margin-left: 10px;
	background-color: white;
	border-radius: 5px;
	transition: transform 1s ease-in-out 0.1s;
}
.VendorRenderCover:hover{
	transform: scale(1.1);
} 

@media screen and (max-width: 1192px) {
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 55vw;
	}
}

@media screen and (max-width: 1111px) {
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 52vw;
	}
}
@media screen and (max-width: 1092px) {
  
	.input {
		padding-left: 10px;
		width: 40vw;
		height: 30px;
		border: 1px solid silver;
		border-radius: 25px;
	}
  .links {
		display: flex;
		justify-content: flex-end;
		column-gap: 10px;
		align-items: center;
		width: max-content;
		padding-top: 5px;
	}
}
@media screen and (max-width: 990px) {
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 50vw;
	}
	.input {
		padding-left: 10px;
		width: 32vw;
		height: 30px;
		border: 1px solid silver;
		border-radius: 25px;
	}
}
@media screen and (max-width: 790px) {
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 47vw;
	}
	.input {
		padding-left: 10px;
		width: 30vw;
		height: 30px;
		border: 1px solid silver;
		border-radius: 25px;
	}

	.links {
		display: flex;
		justify-content: flex-end;
		column-gap: 10px;
		align-items: center;
		width: max-content;
		padding-top: 5px;
	}

	.activeBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: max-content;
		height: max-content;
		font-size: 1em;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
			sans-serif;
		border-bottom: 5px solid green;
		color: green;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		font-weight: 700;
	}

	.inActiveBtn {
		display: flex;
		justify-content: center;
		align-items: center;
		width: max-content;
		height: max-content;
		color: black;
		font-size: 0.7em;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
			Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
			sans-serif;
		border-bottom: 5px solid white;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		font-weight: 400;
	}

	.tabSvg {
		display: flex;
		align-items: center;
	}

	.navSvg {
		width: 30px;
		height: 30px;
	}

  .click{
    display: flex;
    height: 57px;
    border-bottom: 1px solid white;
    width:45vw ;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 770px) {
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 43vw;
	}
}
@media screen and (max-width: 670px) {
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40vw;
	}
}

@media screen and (max-width: 600px) {
	.search {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 67vw;
	}

  .logo{
    width: max-content;
  }

  .links{
    display: none;
  }

  .menu{
    display: flex;
    border: none;
		border-radius: 5px;
		overflow: hidden;
  }
 
	.input {
		padding-left: 10px;
		width: 55vw;
		height: 30px;
		border: 1px solid silver;
		border-radius: 25px;
	}
  .click{
    display: flex;
    height: max-content;
    width:max-content;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
  }

  .menuCover {
    width: 50vw;
    height: max-content;
    position: absolute;
    top: 70px;
    right: 0.001px;
		z-index: 9;
  }

  .flexMenu{
    width: 50vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-image: linear-gradient(to right, rgba(3, 135, 3, 0.7), rgba(1, 51, 1, 0.7));
  }

  .menuList{
    color: white;
    border-bottom: 1px solid white;
    width: inherit;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
  }
  .tabSvg {
		display: flex;
		align-items: center;
    border: none;
	}

	.navSvg {
		width: 30px;
		height: 30px;
    border: none;
	}

 
}

@media screen and (max-width: 490px) {
	.navBody {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: inherit;
	}
	.search {
		width: 50vw;
	}
	.input {
		width: 50vw;
	}
}

@media screen and (max-width: 390px) {
	.search {
		width: 35vw;
	}
	.input {
		width: 40vw;
	}
}
