@font-face {
	font-family: 'ProtestGuerrilla';
	src: url('/fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'NerkoOne';
	src: url('/fonts/NerkoOne-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('/fonts/Poppins-Bold.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('/fonts/Poppins-SemiBold.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'PlaywriteCU';
	src: url('/fonts/PlaywriteCU-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}
.inputImageCover{
  width: fit-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatMsgContainer{
  width: calc(98vw - 310px);
  min-height: 97.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chatMsg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: calc(98vw - 310px);
  height: calc(97.5vh - 50px);
  border-left: 1px solid silver;
}

.roomDisplayDetails{
  height: 40px;
  width: calc(98vw - 310px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.topDetail{
  width: fit-content;
  height: 40px;
  display: flex;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
}

.svgHolder{
  background-color: transparent;
}

.svgDetail{
  background-color:  rgb(249, 249, 249);
  	font-family: 'Poppins-SemiBold';
  font-size: 0.7rem;
  text-transform: uppercase;
}

.massages{
  height: calc(97.5vh - 90px);
  width: calc(98vw - 310px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}
.chatCover{
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(98vw - 310px);
  min-height: 50px;
  background-color: white;
}

.inputCover{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  background-color: white;
  min-height: 50px;
  width: calc(98vw - 310px);
}

.chatInput{
  overflow: hidden;
  width: 295px;
  height: 45px;
  box-shadow: 0px 0px 1px silver, 0 0 1px black, 0 0 2.5px silver;
  border-radius: 5px;
  padding-left: -3px;
  width: calc(98vw - 395px);
  padding-right: 10px;
}
.input{
  border: none;
  width: 100%;
  height: 100%;
  font-weight: 400;
  padding-left: 15px;
  font-size: 1rem;
  outline: none; /* Disable focus outline */
  border-radius: 5px; /* Match the wrapper */
  box-sizing: border-box;
}

.inputImageCover{
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputImg{
  display: none;
}
.chatBtn{
  border: none;
  background-color: transparent;
}

.sent{
  display: flex;
  flex-direction: row-reverse;
  width: calc(98vw - 310px);
  height: fit-content;
  justify-content: space-between;
  align-items: first baseline;
}
.received{
  display: flex;
  width: calc(98vw - 310px);
  height: fit-content;
  justify-content: space-between;
  align-items: first baseline;
}
.chtImg{
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.senderPic{
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.chatBodyCover{
  min-width: fit-content;
  max-width: calc(98vw - 375px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius:  0px 10px 10px 10px;
  justify-content: flex-start;
  align-items: center;
}

.nameDisplay{
  min-width: fit-content;
  max-width: calc(98vw - 375px);
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  height: fit-content;
  text-align: left;
  	font-family: 'Poppins-SemiBold';
  font-size: 0.7rem;
  background-color: rgb(216, 216, 216);
}

.chatBody{
  min-width: fit-content;
  max-width: calc(98vw - 375px);
  height: fit-content;
  background-color: rgb(249, 249, 249);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chat{
  min-width: fit-content;
  max-width: calc(98vw - 375px);
  height: fit-content;
  background-color: rgb(249, 249, 249);
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}
.chatFooter{
  min-width: fit-content;
  max-width: calc(98vw - 375px);
  height: fit-content;
  background-color: rgb(255, 255, 255);
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  	font-family: 'Poppins-SemiBold';
  font-size: 0.7rem;
}

.chatNavContainer{
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 97.5vh;
  justify-content: flex-start;
  align-items: center;

}

.filterCover{
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.filterContact{
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 10px;
}
.selectors{
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputCoverChatNav{
  width: 247px;
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 1px silver, 0 0 1px black, 0 0 2.5px silver;
}
.selectCoverChatNav{
  width: 122px;
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 1px silver, 0 0 1px black, 0 0 2.5px silver;
}

.inputChatNav{
  width: 100%;
  height: 100%;
  border: none; /* No visible borders */
  padding: 8px;
  box-sizing: border-box;
  outline: none; /* Disable focus outline */
  border-radius: 5px; /* Match the wrapper */

}
.selectChatNav{
  width: 100%;
  height: 100%;
  border: none; /* No visible borders */
  padding: 8px;
  box-sizing: border-box;
  outline: none; /* Disable focus outline */
  border-radius: 5px; /* Match the wrapper */
  }

.switch{
  width: 310px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.highLighted{
  width: 33.3331%;
  /* background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7)); */
  color: green;
  	font-family: 'Poppins-SemiBold';
  height: max-content;
  padding-top: 7px;
  padding-bottom: 9px;
  /* border-radius: 5px; */
  text-align: center;
  user-select: none;
  border-bottom: 1.8px solid green;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}



.highLighted:hover{
  cursor: pointer;
 }

.unHighLighted{
  width: 33.3331%;
  color: rgb(102, 102, 102);
  height: max-content;
  padding-top: 7px;
  padding-bottom: 9px;
  /* border-radius: 5px; */
  text-align: center;
  user-select: none;
  border-bottom: 1.8px solid silver;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Poppins-SemiBold';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.unHighLighted:hover{
  color: green;
  cursor: pointer;
  font-weight: 500;
 }
 .chatNavHeader{
  display: flex;
  width: 310px;
  justify-content: space-between;
  align-items: center;
 }
 .highLight{
  width: max-content;
  /* background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7)); */
  color: green;
  	font-family: 'Poppins-SemiBold';
  height: max-content;
  padding-top: 7px;
  padding-bottom: 9px;
  /* border-radius: 5px; */
  text-align: center;
  user-select: none;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}



.highLighted:hover{
  cursor: pointer;
 }

.unHighLight{
  width:max-content;
  color: rgb(102, 102, 102);
  height: max-content;
  padding-top: 7px;
  padding-bottom: 9px;
  /* border-radius: 5px; */
  text-align: center;
  user-select: none;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Poppins-SemiBold';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 8px;
}
.unHighLighted:hover{
  color: green;
  cursor: pointer;
  font-weight: 500;
 }
 .displayMyContact{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 355px;
  padding-top: 10px;
  overflow-y: auto;
 }
 
 .hide{
  display: none;
 }
 .contactCover{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  min-height: 30px;
 }


 .contact{
  display: flex;
  width: 240px;
  padding-top: 10px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: flex-start;
  column-gap: 5px;
  border-radius: 5px;
  font-family: 'Poppins-Regular';
  font-size: 12px;
 }
 .contact:hover{
  background-color:  rgb(247, 247, 247);
  border-radius: 10px;
 }
 
 .contactImg{
  width: 50px;
  height: 50px;
  border-radius: 100px;
 }
 .contactDetail{
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  width: 170px;
 }
 .RequestContact{
  display: flex;
  align-items: center;
 }

 .highlightedContact{
  width: 240px;
 }