
.Main{
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
  background-color: #f9f9f9f9;
}
.aboutUsCover{
  display: flex;
  width: 98vw;
  justify-content: space-between;
  align-items: center;
  height:max-content;
  padding-top: 10px;
}

