@font-face {
	font-family: "ProtestGuerrilla";
	src: url("/fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf")
		format("truetype");

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "NerkoOne";
	src: url("/fonts/NerkoOne-Regular.ttf") format("truetype");

	font-weight: normal;
	font-style: normal;
}
.titleCover {
	width: 98.5vw;
	height: calc(100vh - 70px);
	cursor: pointer;
	overflow: hidden;
	border-bottom: 1px solid silver;
	background-color: white;
}

.categoryCover {
	position: relative;
	width: 98.5vw;
	height: calc(100vh -70px);
}
.catFlex {
	width: 98.5vw;
	height: calc(100vh -70px);
	display: flex;
	justify-content: center;
	align-items: center;
}

.flexControl {
	width: calc(98.5vw - 20px);
	height: calc(100vh -70px);
	display: flex;
	justify-content: center;
	background-color: white;
	border-radius: 10px;
	/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);  */
}

.title {
	position: absolute;
	top: 0px;
	width: 100%;
	height: calc(100vh - 70px);
}

.flextitle {
	color: rgb(55, 55, 55, 0.9);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 15px;
	width: 100%;
	height: calc(100vh - 70px);
	display: flex;
	align-items: center;
	justify-content: flex-start;
	user-select: none;
}

.header {
	width: 100%;
	height: calc(100vh - 70px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(-170px);
	transition: all;
	/* animation: bounce 4.6s 1.5 linear; */
}
.titleHero {
	user-select: none;
	font-size: 9rem;
	font-weight: 400;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	font-family: "NerkoOne";
	text-align: center;
	width: 100%;
	margin-left: 1.5vw;
	color: rgb(123, 123, 123);
	line-height: 1;
	animation: appear 1s linear;
}
.age {
	user-select: none;
	font-size: 7rem;
	font-weight: 500;
	color: rgb(89, 135, 9);
	border-radius: 3px;
	font-family: "NerkoOne";
	text-align: center;
	width: 100%;
	background-image: linear-gradient(to right, rgb(123, 123, 123), silver);
	background-clip: text;
	color: transparent;
}
.age1 {
	user-select: none;
	font-size: 7rem;
	font-weight: 500;
	color: rgb(89, 135, 9);
	border-radius: 3px;
	font-family: "NerkoOne";
	text-align: center;
	width: 100%;
	background-image: linear-gradient(to left, rgb(123, 123, 123), silver);
	background-clip: text;
	color: transparent;
}
.titleHero2 {
	user-select: none;
	font-weight: 400;
	color: #1f2937;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	font-family: "NerkoOne", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: center;
	width: 100%;
	margin-left: 1.5vw;
	margin-bottom: 20px;
	animation: appear 3s linear;
}
.titleHero3 {
	user-select: none;
	font-weight: 400;
	color: #1f2937;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 3px;
	font-family: "NerkoOne", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: center;
	width: 100%;
	margin-left: 1.5vw;
	animation: appear 4.5s linear;
}

.callToAction {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	animation: appear 13.3s linear;
}

.registerBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "NerkoOne";
	background-color: #ff6f00; /* Primary Green */
	color: white;
	padding: 10px 20px;
	border: none;
	height: 20px;
	border-radius: 25px; /* Rounded corners */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
	cursor: pointer;
	font-size: 24px;
	transition: all 0.3s ease; /* Smooth transition */
	text-transform: uppercase;
	transform: translateX(7px);
}

.registerBtn:hover {
	background-color: #f36a01; /* Darker shade on hover */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Elevated shadow on hover */
}

.you {
	color: green;
	font-weight: 400;
	text-transform: uppercase;
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 3.8rem;
	box-shadow: 0px 0px 1px silver, 0 0 2px green, 0 0 5px silver;
}

.toWhat {
	font-weight: 400;
	font-size: 3rem;
	background-image: linear-gradient(to right, #1f2937, #6b7280);
	background-clip: text;
	color: transparent;
}
.biz {
	font-weight: 400;
	font-size: 3rem;
	background-image: linear-gradient(to right, #1f2937, #6b7280);
	background-clip: text;
	color: black;
	font-family: "NerkoOne";
	transform: translateY(30px);
	animation: appear 5s linear;
}
.matters {
	color: rgb(66, 104, 2);
	border-radius: 3px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: 400;
	font-size: 3rem;
	text-transform: uppercase;
	background-image: linear-gradient(to left, #1f2937, #6b7280);
	background-clip: text;
	color: transparent;
}
.titleend {
	user-select: none;
	font-size: 14px;
	font-weight: 400;
	color: #6b7280;
	font-family: "Poppins-bold";
	text-align: center;
	animation: appear 5.5s linear;
}
.titleend1 {
	user-select: none;
	font-size: 14px;
	font-weight: 400;
	color: #6b7280;
	font-family: "Poppins-bold";
	text-align: center;
	animation: appear 6.3s linear;
}
.titleend2 {
	user-select: none;
	font-size: 14px;
	font-weight: 400;
	color: #6b7280;
	font-family: "Poppins-bold";
	text-align: center;
	animation: appear 7.5s linear;
}
.titleend3 {
	user-select: none;
	font-size: 14px;
	font-weight: 400;
	color: #6b7280;
	font-family: "Poppins-bold";
	text-align: center;
	animation: appear 8.3s linear;
}
.titleend4 {
	user-select: none;
	font-size: 14px;
	font-weight: 400;
	color: #6b7280;
	font-family: "Poppins-bold";
	text-align: center;
	animation: appear 9.1s linear;
}
.titleend5 {
	user-select: none;
	font-size: 14px;
	font-weight: 400;
	color: #6b7280;
	font-family: "Poppins-bold";
	text-align: center;
	animation: appear 9.6s linear;
}
.titleend6 {
	user-select: none;
	font-size: 14px;
	font-weight: 400;
	color: #6b7280;
	font-family: "Poppins-bold";
	text-align: center;
	animation: appear 10s linear;
}
.titleend7 {
	user-select: none;
	font-size: 14px;
	font-weight: 400;
	color: #6b7280;
	font-family: "Poppins-bold";
	text-align: center;
	animation: appear 10.8s linear;
}
.heroCarouselCover {
	position: relative;
	top: 0;
	overflow: hidden;
	background-image: linear-gradient(to right, #ebebeb, #f3f3f3);
	padding-bottom: 4rem;
	border-radius: 1rem;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.heroCarouselBody {
	width: 100vw;
	margin-left: auto;
	margin-right: auto;
	height: calc(100vh - 70px);
}

.heroCarousel {
	position: relative;
	height: calc(100vh - 70px);
}

.carouselCardCover1 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: calc(100vh - 70px);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
	opacity: 1;
	transform: translateX(0);
}

.carouselCardCover2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: calc(100vh - 70px);
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 500ms;
	opacity: 0;
	transform: translateX(100px);
}

.carouselBody {
	background-color: rgb(31 41 55 / var(--tw-bg-opacity));
	border-radius: 0.5rem;
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	height: calc(100vh - 70px);
}

.carouselImageCover {
	position: relative;
	width: 50vw;
	overflow: hidden;
	height: 100vh;
}
.carouselImage {
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;

	height: 100%;
	width: 100%;
}

.carouselImageFix {
	position: absolute;
	inset: 0px;
}
.arrow {
	position: absolute;
	left: 50%;
	bottom: 10px;
	width: 30px;
	height: 30px;
	animation: bounce 1s infinite;
}

@keyframes bounce {
	0%,
	100% {
		transform: translateY(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: none;
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	97% {
		opacity: 0;
		color: #f36a01;
	}
	100% {
		opacity: 1;
	}
}
@keyframes appear1 {
	0% {
		opacity: 0;
		transform: translateY(10);
	}
	97% {
		opacity: 0;
		color: #f36a01;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes appear2 {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}
	97% {
		opacity: 0;
		color: #f36a01;
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@media screen and (max-width: 777px) {
	.header {
		transform: translateX(-120px);
	}
	.registerBtn {
		transform: translateX(0);
	}
	.carouselImageCover {
		width: 60%;
	}
}

@media screen and (max-width: 651px) {
	.carouselImageCover {
		width: 65vw;
	}

	.header {
		transform: translateX(-110px);
	}
	.registerBtn {
		transform: translateX(0);
	}
}

@media screen and (max-width: 620px) {
	.carouselImageCover {
		width: 65vw;
	}

	.header {
		transform: translateX(-90px);
	}
	.registerBtn {
		transform: translateX(0);
	}
}

@media screen and (max-width: 580px) {
	.carouselImageCover {
		width: 70vw;
	}

	.header {
		transform: translateX(-80px);
	}
	.registerBtn {
		transform: translateX(0);
	}
	.catFlex {
		width: 100vw;
	}
	.flexControl {
		width: 100vw;

		/* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);  */
	}
}

@media screen and (max-width: 550px) {
	.header {
		transform: translateX(-40px);
	}
	.registerBtn {
		transform: translateX(0);
	}
}

@media screen and (max-width: 500px) {
	.carouselImageCover {
		width: 100vh;
	}

	.header {
		transform: translateX(-15px);
	}
	.registerBtn {
		transform: translateX(0);
	}
}

@media screen and (max-width: 345px) {
	.titleHero {
		font-size: 4.5rem;
	}
	.age {
		font-size: 2.8rem;
	}
}
