.hide{
  display:  none;
}
.filterBodyCover{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
  align-items: center;
  width: 60vw;
  height: fit-content;
}

.Market{
  display: flex;
  width: 60vw;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-bottom: 5px;
}

.Space{
 width: 30vw;
 text-align: center; 
 padding-top: 6px;
 padding-bottom: 6px;
 border-radius: 5px;
 box-shadow: 0px 0px 1px silver, 0 0 2px green, 0 0 5px silver;
 color: green;
 cursor: pointer;
}
.SpaceHighlighted{
 color: white;
 width: 30vw;
 text-align: center; 
 background-image: linear-gradient(to left, rgba(1, 141, 1, 0.7), rgba(1, 40, 1, 0.7));
 padding-top: 6px;
 padding-bottom: 6px;
 border-radius: 5px;
 animation:  0.7s linear clickk;
 box-shadow: 0px 0px 1px silver, 0 0 2px green, 0 0 5px silver;
 cursor: pointer;
 user-select: none;
}
@keyframes clickk {

  0%{
    background-image: linear-gradient(to left, rgba(3, 135, 3, 0.7),rgba(3, 135, 3, 0.7));
  opacity: 0;
  }
  100%{
    background-image: linear-gradient(to left, rgba(3, 135, 3, 0.7), rgba(1, 51, 1, 0.7));
    opacity: 1;
  }
}

.Shop{
  width: 30vw;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px silver, 0 0 2px green, 0 0 5px silver;
  color: green;
  cursor: pointer;
  user-select: none;
}

.ShopHighlighted{
  color: white;
  width: 30vw;
  text-align: center; 
  background-image: linear-gradient(to right, rgba(1, 141, 1, 0.7), rgba(1, 40, 1, 0.7));
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  animation:  0.7s linear click;
  box-shadow: 0px 0px 1px silver, 0 0 2px green, 0 0 5px silver;
  cursor: pointer;
  user-select: none;
}

@keyframes click {

  0%{
    background-image: linear-gradient(to right, rgba(3, 135, 3, 0.7),rgba(3, 135, 3, 0.7));
  opacity: 0;
  }
  100%{
    background-image: linear-gradient(to right, rgba(3, 135, 3, 0.7), rgba(1, 51, 1, 0.7));
    opacity: 1;
  }
}

.filter{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 47px;
  max-height: max-content;
  width: 60vw;
  background-color: white;
}
.filterC{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.filterAndSearch{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: green;
  margin-right: 15px;
  display: flex;
 justify-content: center;
 align-items: center;
 user-select: none;
}

.selectGroup{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  width: 60vw;
  height: fit-content;
  padding-bottom: 5px;
  background-color: white;
}
.selectGroupC{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  width: 65vw;
  height: 47px;
}

.selectCover{
  border: 1px solid silver;
  border-radius: 5px;
  width: 10vw;
  margin-bottom: 5px;
  background-color: white;
  overflow: hidden;
}
.select{
  border: none;
  height: 29px;
  padding-left: 5px;
  width: 10vw;
  user-select: none;
  background-color: white;
}

.shopItemSelectCover{
  border: 1px solid silver;
  border-radius: 5px;
  width: 147px;
  overflow: hidden;
  margin-bottom: 5px;
  background-color: white;
}

.shopItemSelect{
  border: none;
  width: 147px;
  height: 25px;
  padding-left: 5px;
  user-select: none;
  background-color: white;
}

.inputCover{
  border: 1px solid silver;
  border-radius: 5px;
  width: 12vw;
  margin-bottom: 5px;
  background-color: white;
  overflow: hidden;
}

.shopItemInputCover{
  border: 1px solid silver;
  border-radius: 5px;
  width: 147px;
  overflow: hidden;
  margin-bottom: 5px;
  background-color: white;
}

.inputCoverC{
  border: 1px solid silver;
  border-radius: 5px;
  width: 20vw;
  margin-bottom: 5px;
  overflow: hidden;
}
.input{
  width: 12vw;
  border: none;
  height: 27px;
  padding-left: 5px;
}

.shopItemInput{
  width: 147px;
  height: 25px;
  padding-left: 5px;
  border: none;
}

.inputC{
  width: 20vw;
  border: none;
  height: 27px;
  padding-left: 5px;
}



.renderCover{
  color: black;
  width: max-content;
  height: max-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  user-select: none;
  cursor: pointer;
}

.renderCover:hover{
  color: black;
  width: max-content;
  height: max-content;
  background-image: linear-gradient(to left,  rgba(255, 255, 255, 0.1), rgba(1, 128, 1, 0.1));
  
}
.stockRenderCover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 170px;
  height:max-content;
  box-shadow: 0px 0px 1px silver, 0 0 1.5px silver, 0 0 3.75px silver;
  background-image: linear-gradient(to right , rgb(226, 226, 226,0.7), rgba(243, 255, 243, 0.7));
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out 0.1s;
  padding-bottom: 10px;
  border-radius: 7px;
}

.shopRenderCover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  width: 310px;
  height:max-content;
  box-shadow: 0px 0px 1px silver, 0 0 1.5px silver, 0 0 3.75px silver;
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out 0.1s;
  background-color: rgb(255, 255, 255);
  padding-bottom: 7px;
  border-radius: 5px;
}

.stockRenderCover:hover{
  box-shadow: 0px 0px 1.5px black, 0 0 2px silver, 0 0 3.5px black; 
}
.picSel{
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}


.pic{
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 0.5px silver, 0 0 1px silver, 0 0 0.75px silver;
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.7rem;
}
.picH{
  width: 70px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 0.5px silver, 0 0 1px silver, 0 0 0.75px silver;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.7rem;
}

.shopRenderCover:hover{
  box-shadow: 0px 0px 1.5px black, 0 0 2px silver, 0 0 3.5px black;
}
.shoptitleBodyDivide{
  display: flex;
  width: 300px;
  justify-content: flex-start;
  margin-left: 10px;
  column-gap: 7px;
  align-items: center;
}
.VendorRenderCover{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 310px;
  height:max-content;
  box-shadow: 0px 0px 1px silver, 0 0 1.5px silver, 0 0 3.75px silver;
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out 0.1s;
  background-image: linear-gradient(to right,  rgba(255, 255, 255, 0.1), rgba(151, 151, 151, 0.1));
  padding-bottom: 10px;
  overflow: hidden;
  border-radius: 5px;
}
.stockSeperatorCover{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-height: fit-content;
}

.showMore{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 10px;
  height:max-content;
  animation:  0.1s linear appear;
  margin-left: 10px;
  user-select: none;
  width: 170px;
}

@keyframes appear {

  0%{
  transform: translateY(-5px);
  opacity: 0.5;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.showWide{
  display: none;
}

.VendorRenderCover:hover{
  box-shadow: 0px 0px 1.5px green, 0 0 2px silver, 0 0 3.5px green;
  background-image:  linear-gradient(to bottom, rgb(255, 255, 255), rgb(237, 255, 237)); 
}

.VendorRenderCoverC{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: max-content;
  padding-left: 5px;
  padding-right: 5px;
  min-height: 190px;
  max-height: max-content;
  box-shadow: 0px 0px 1px silver, 0 0 1.5px silver, 0 0 3.75px silver;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out 0.1s, box-shadow 0.3s ease-in-out 0.1s;
}
.VendorRenderCoverC:hover{
  box-shadow: 0px 0px 1px silver, 0 0 3px green, 0 0 7px silver;
  background-image:  linear-gradient(to bottom, rgb(255, 255, 255), rgb(237, 255, 237)); 
}
.imgCover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
  overflow: hidden;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.imgCoverC{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: max-content;
}
.shopName{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: white;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  width: 295px;
  box-shadow: 0px 0px 1px silver, 0 0 1.5px silver, 0 0 3.75px silver;
  margin-top: 7px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-height: 25px;
  max-height: max-content;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  
}

.vendorName{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  color: white;
  background-image: linear-gradient(to right, rgba(3, 135, 3, 0.7), rgba(1, 51, 1, 0.7));
  width: 160px;
  margin-top: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-height: 25px;
  max-height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
}
.stockName{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  width: 160px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  min-height: 25px;
  max-height: max-content;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  margin-top: 5px;
}

.idiImg{
  width: 160px;
  height: 150px;
}
.idiImgC{
  width: 300px;
  height: 147px;
  border-radius: 5px;
  margin-top: 5px;
}

.innerTextVendorRenderCover{
  min-width: 310px;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.innerTextstockRenderCover{
  width: 147px;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items:first baseline;
  justify-content: flex-start;
}
.innerTextShopRenderCover{
  width: 140px;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: first baseline;
  justify-content: center;
  padding-top: 10px;
}

.innerTextShowMoreRenderCover{
  width: 170px;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.addresCover{
  width: 180px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vendorAddresCover{
  width: 290px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.addressTitle{
  width: 12vw;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: green;
  font-weight: 900;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}
.shopContactTitle{
  width: 120px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: green;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}



.shopTag{
  display: flex;
  align-items: center;
  color: rgb(102, 102, 102);
  text-align: center;
  height: inherit;
  margin-top: 5px;
  font-weight: 700;
}

.shopTagTitle{
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  justify-content: flex-start;
  align-items: center;
  color: white;
  background-image: linear-gradient(to right, rgba(1, 141, 1, 0.7), rgba(1, 40, 1, 0.7));
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  text-transform: uppercase;
  margin-left: 12px;
}


.shopTagCover{
  display: flex;
  min-width: 300px;
  max-width: 80vw;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  align-self: first baseline;
}

.vendoraddressTitle{
  width: 290px;
  height: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: green;
  font-size: 0.6rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  text-transform: uppercase;
}

.address{
  width: 150px;
  height: max-content;
  overflow: auto;
  user-select: none;
  font-weight: 400;
  color: rgb(70, 70, 70);
  font-size: 0.8rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.addressShop{
  width: 140px;
  height: max-content;
  overflow: auto;
  user-select: none;
  font-weight: 400;
  color: rgb(70, 70, 70);
  font-size: 0.9rem;
}
.shopAddress{
  width: 120px;
  height: max-content;
  overflow: auto;
  user-select: none;
  color: rgb(102, 102, 102);
  user-select: none;
}
.shopContact{
  color: rgb(102, 102, 102);
  user-select: none;
}

.vendorAddress{
  width: 290px;
  color: rgb(83, 83, 83);
  font-size: 0.9rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: max-content;
  overflow: auto;
  user-select: none;
}

.contactCover{
  width: 147px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: first baseline;
  height: max-content;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.vendorContactCover{
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: max-content;
}

.vendorContactTitle{
  width: 290px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: green;
  font-weight: 500;
  font-size: 0.6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  text-transform: uppercase;
}

.vendorContact{
  width: 290px;
  user-select: none;
  color: rgb(62, 62, 62);
  font-size: 0.9rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.VacancyRenderCover{
  display: flex;
  align-items: center;
  justify-content: center;
  width:65vw;
  height:max-content;
  margin-left: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  transition: background-image 1s ease-in-out 0.1s;
  font-size: 1rem;
  user-select: none;
}

.VacancyRenderCover:hover{
  border-radius: 15px;
  box-shadow: 0px 0px 1.5px green, 0 0 2px silver, 0 0 3.5px green;
  border-radius: 15px;
  background-image:  linear-gradient(to bottom, rgb(255, 255, 255), rgb(237, 255, 237)); 
}


.innerTextVacancyRenderCover{
  width: 58vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: first baseline;
  justify-content: center;
  padding-top: 10px;
}


.dropDown{
  display: flex;
  align-items: first baseline;
  flex-direction: column;
  justify-content: center;
  animation:  0.5s linear appear;
  padding-bottom: 30px;
  animation:  0.1s linear appear;
  box-sizing: border-box;
  width: 60vw;
  row-gap: 10px;
  user-select: none;
}

@keyframes appear {

  0%{
  transform: translateY(-5px);
  opacity: 0.5;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}


.coverDetail{
  max-width:56vw;
  display: flex;
  justify-content:space-between ;
  align-items: first baseline;
  height: max-content;
}
.coverHeadDetail{
 width:56vw;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: first baseline;
  row-gap: 3px;
  height: max-content;
}
.headFootDetailCover{
  max-width:60vw;
  min-width: 310px;
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  column-gap: 25px;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  user-select: none;
}

.headFootSpan{
  font-size: 0.9rem;
  color: rgb(107, 77, 1);
  font-weight: 600;
  user-select: none;
  text-transform: uppercase;
}

.headFootDetail{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-weight: 400;
  color: #333;
  user-select: none;
  font-size: 0.9rem;
}

.detailTitle{
  width: 130px;
  font-size: 0.9rem;
  height: inherit;
  text-align: start;
  color: rgb(107, 77, 1);
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
  text-transform: uppercase;
}

.detail{
  width: 40vw;
  font-size: 1rem;
  height: max-content;
  text-align: center;
  text-align: left;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: #333;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
}
.detailHead{
   width: 56vw;
   height: max-content;
   text-align: center;
   text-align: left;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: 700;
   font-size: 1.3rem;
   color: #218838;
   padding-bottom: 5px;
   user-select: none;
   text-transform: uppercase;
 }
 .btn{
  border: none;
  color: white;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  user-select: none;
  margin-top: 10px;
  width: 147px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 0px 1px silver, 0 0 1.5px silver, 0 0 3.75px silver;
  cursor: pointer;
  user-select: none;
 }

 .vBtn{
  border: none;
  color: white;
  background-image: linear-gradient(to right , rgba(9, 133, 1, 0.7), rgba(143, 145, 143, 0.7));
  user-select: none;
  margin-top: 10px;
  width: 100px;
 border-radius: 3px;
  box-shadow: 0px 0px 1px silver, 0 0 1.5px silver, 0 0 3.75px silver;
  cursor: pointer;
  user-select: none;
 }

 .qShopbtn{
  border: none;
  color: white;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  user-select: none;
  width: 100px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  user-select: none;
  text-align: center;
 }

 .btnUn{
  border: none;
  color: green;
  padding: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  user-select: none;
  margin-top: 10px;
  width: fit-content;
  cursor: pointer;
  user-select: none;
 }

 .btnUn:hover{
  font-weight: 700;
 }

 .btnA{
  border: none;
  color: white;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  animation:  0.1s linear appear;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  margin-top: 10px;
  width: 147px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
 }
 
  
.status{
  height: max-content;
  width: 147px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  color: rgb(33, 33, 33);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  user-select: none;
}
.contactTitle{
  width: 147px;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.6rem;
  font-weight: 500;
  user-select: none;
  text-transform: uppercase;
}
.contactShopTitle{
  width: 140px;
  height: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 0.6rem;
  font-weight: 500;
  user-select: none;
  text-transform: uppercase;
}
.contact{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 147px;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(33, 33, 33);
  
}
.shopcontact{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 140px;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(33, 33, 33);
  
}
.displayFilter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height:fit-content;

}
.displayFilterC{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  min-height: max-content;
  height: 500px;
  padding-top: 10px;
}

.renderVacancyInnerCover{
  display: flex;
  height:fit-content;
  width: 60vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  justify-self: center;
  padding-top: 10px;
  column-gap: 20px;
  padding-bottom: 10px;
}

.renderVendorInnerCover{
  display: flex;
  height: fit-content;
  width: 60vw;
  flex-wrap: wrap;
  overflow: auto;
  overflow: auto;
  justify-content: center;
  align-items: flex-start;
  justify-self: center;
  padding-top: 10px;
  row-gap: 20px;
  column-gap: 20px;
  padding-bottom: 10px; 
}

.pagi{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagination{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pagiMid{
  width: 100%;
  display: none;
  justify-content: space-around;
  align-items: center;
}

.renderVendorInnerCoverC{
  display: flex;
  min-height: max-content;
  height: fit-content;
  width: 65vw;
  flex-wrap: wrap;
  justify-self: center;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  row-gap: 20px;
  column-gap: 20px;
  padding-bottom: 10px;
 
}
.displayShopItems{
  display: flex;
  width: fit-content;
  min-height: fit-content;
  max-height: 310px;
  flex-direction: column;
  row-gap: 3px;
  padding-top: 10px;
  user-select: none;
  overflow: auto;
}
.displayShopItemsFilter{
  display: flex;
  width: 310px;
  min-height: fit-content;
  max-height: 300px;
  padding-top: 10px;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}

.renderAvModStock{
  display: flex;
  width: 310px;
}

.displaySearchShopItems{
   display: flex;
  width: fit-content;
  min-height: fit-content;
  max-height: 310px;
  padding-top: 10px;
  user-select: none;
  overflow: auto;
}
.shopItemsCover{
  display: flex;
  width: 230px;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  user-select: none;
}

.shopsItemsImgCover{
  display: flex;
  width: 100px;
  height: 100px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  overflow: hidden;
  user-select: none;
}

.shopItemImg{
  width: 100px;
  height: 100px;
  user-select: none;
}
.showMoreDetails{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 230px;
  height: fit-content;
  column-gap: 10px;
  margin-top: 10px;
  user-select: none;
}

.showMoreDetailsBody{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 290px;
  font-size: 13px;
  font-weight: 500;
}

.showMoreItemsDetailsBody{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 70px;
  font-size: 13px;
  font-weight: 500;
}
.shopItemsDetailTitleName{
  margin-right: 10px;
  font-weight: 500;
  color: #28a745;
}
.shopItemsDetailTitle{
  margin-right: 10px;
  color: #28a745;
}

.shopItemsBody{
  font-weight: 500;
  color: rgb(45, 45, 45);
}
.shopNavBtnCover{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 285px;
  height: fit-content;
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 7px;
}

.btnShopA{
  width: 50%;
  height: 20px;
  border-bottom: 3px solid green;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding-bottom: 5px;
}

.btnShop{
  width: 50%;
  height: 20px;
  border-bottom: 3px solid silver;
  color: rgb(97, 97, 97);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 10px;
  padding-bottom: 5px;
}

.btnShop:hover{
  color: green;
  font-weight: 900;
}
.btnShopA:hover{
  color: green;
  font-weight: 900;
}

.searchShopImgCover{
  width: 90px;
  height: 70px;
  overflow: hidden;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.searchShopImg{
  width: 90px;
  height: 70px;
}

.enterShop{
  color: white;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  width: 295px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 7px;
  text-align: center;
  padding-bottom: 3px;
  user-select: none;
  cursor: pointer;
}

.showMoreDetailCover{
  min-height: 100px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: flex-start;
  row-gap: 10px;
  padding-top: 5px;
}
.shopItemsDetailCover{
  min-height: 100px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: flex-start;
  row-gap: 10px;
  padding-top: 5px;
}

.shopItemBodyCover{
  width: 60vw;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.shopItemsFilterCover{
  width: 60vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content: flex-start;
}

.renderAvModStock{
  width: 60vw;
  min-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: first baseline;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-top: 10px;
}
.filterShop{
  max-width: 700px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: fit-content;
}
.shopSelectGroup{
  max-width: 700px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-height: fit-content;
}
.shopItemsTranscation{
  width: 300px;
  height: 520px;
  display: flex;
  align-items: first baseline;
  justify-content: center;
}

.InRenderControl{
  display: block;
  width: 230px;
  height: fit-content;
}

.InRenderItemCoverRelative{
  width: 230px;
  position: relative;
}

.InRenderItemCoverAbsolute{
  width: 230px;
  position: absolute;
  top: 0;
  left: 0;
}

.InRenderItemCover{
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 1px silver, 0 0 2px green, 0 0 5px silver;
  background-image: linear-gradient(to right , rgb(226, 226, 226,0.7), rgba(243, 255, 243, 0.7));
}



.InShopItemsCover{
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
}

.InShopsItemsImgCover{
  width: 200px;
  height: 200px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.InShopItemImg{
  width: 200px;
  height: 200px;
}

.InShopItemsDetailTitleName{
  width: 200px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  color: white;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.InShopItemsBody{
  color: rgb(48, 48, 48);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
.InShopItemsDetailCover{
  width: 200px;
}
.InBtn{
  color: white;
  background-image: linear-gradient(to right , rgba(155, 154, 154, 0.7), rgba(143, 145, 143, 0.7));
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  align-self: center;
  justify-self: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
.InShopItemsDetailTitle{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 0.7rem;
  margin-right: 5px;
  color: rgb(45, 45, 45);
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.InShowMoreDetails{
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 5400px) {
 
 
 
  .innerTextVendorRenderCover{
    width: 120px;
    justify-content: first baseline;
  } 

  .status{
    width: 120px;
  }

  .addressTitle{
    width: 120px;
  }
  .addresCover{
    width: 120px;
  }

}


@media screen and (max-width: 1200px) {
 
  .detailTitle{
    font-size: 0.85rem;
  }
  
  .detail{
   width: 40vw;
   font-size: 1rem;
  }

}
@media screen and (max-width: 1130px) {
  .btn{
   display: block;
   }
   .btnA{
    display: block;
   }
 
.showWide{
  display: none;
}
  

.status{
  width: 120px;
}
.addressTitle{
  width: 120px;
}
.addresCover{
  width: 120px;
}

}


@media screen and (max-width: 1080px) {

  .shopRenderCover{
    min-width: 310px;
  }
  .VendorRenderCover{
    min-width: 310px;
  }

}



@media screen and (max-width: 925px) {

  .shopRenderCover{
    width: 120px;
  }

  .shoptitleBodyDivide{
    width: 310px;
  }

  .shopAddress{
    width: 120px;
    font-size: 12px;
  }
  .shopContactTitle{
    width: 120px;
    font-size: 12px;
  }

  .shopRenderCover{
    min-width: 310px;
    margin-bottom: 10px;
  }
  .VendorRenderCover{
    min-width: 310px;
  }
  

  .status{
    width: 120px;
  }

  .addressTitle{
    width: 120px;
  }
  .addresCover{
    width: 120px;
  }
  
}
@media screen and (max-width: 885px) {
  .filterAndSearch{
    color: green;
    height: 45px;
    font-size: 0.8em;
  }

}

@media screen and (max-width: 770px) {
  
  .pagi{
    width: 100%;
    display: none;
  }
  
  .pagiMid{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  
  .filter{
    width: 98vw;
    height: max-content;
  }
  
  .filterBodyCover{
    width: 98vw;
  }

  
  .selectGroup{
    width: 98vw;
    height: max-content;
    
  }

  .selectGroupC{
    width: 94vw;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .displayFilter{
    width: 98vw;
    flex-direction: column;
    height: max-content;
    padding-top: 10;
  }

  .displayFilterC{
    width: 98vw;
    height: max-content;
    padding-top: 10;
  }



  .renderVacancyInnerCover{
    height:fit-content;
    width: 98vw;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: first baseline;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .VacancyRenderCover{
    background-image:  linear-gradient(to bottom, rgb(255, 255, 255), rgb(237, 255, 237));
  }
  .VacancyRenderCover:hover{
    background-image:  linear-gradient(to bottom, rgb(255, 255, 255), rgb(237, 255, 237));  
  }
  .vBtnCover{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .renderVendorInnerCover{
    height:fit-content;
    width: 98vw;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    justify-content: flex-start;
    align-items: first baseline;
    padding-left: 10px;
    padding-top: 10;
  }
  
  .renderVendorInnerCoverC{
    height:fit-content;
    width: 98vw;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: flex-start;
    align-items: first baseline;
    overflow-x: auto;
    padding-left: 10px;
    padding-top: 10;
    margin-top: 0;
  }

  

  .selectCover{
    width: 120px;
  }
  .select{
    width: 120px;
  }
  
  .inputCover{
    width: 120px;
  }
  .input{
    width: 120px;
  }

  .coverDetail{
    max-width:85vw;
  }
  .coverHeadDetail{
    width:85vw;
    padding-bottom: 3px;
    border-bottom: 1px solid green;
    margin-bottom: 7px;
    transform: translateX(-5px);
  }
  .headFootDetailCover{
    max-width:85vw;
    column-gap: 10px;
  }
  

  
  .headFootDetail{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    column-gap: 5px;
  }
  
  .detailTitle{
    width: 130px;
  }
  
  .detail{
    width: 60vw;
  }
  .detailHead{
     width: 85vw;
     display: flex;
     align-items: center;
     justify-content: center;
     padding-bottom: 3px;
     margin-bottom: 10px;
     border-bottom: 1px solid green;
   }
   .VacancyRenderCover{
    width:87vw;
    font-size: 0.8rem;
    border: 1px solid #d6e7f6; /* Dark Green */
    border-radius: 15px;
    box-shadow: 0px 0px 1px silver, 0 0 1px silver, 0 0 2.5px silver;
    margin-bottom: 0;
  }
  .innerTextVacancyRenderCover{
    width: 87vw;
    height: max-content;
  }

 
}

@media screen and (max-width: 656px) {

  .VacancyRenderCover{
    width:87vw;
    font-size: 0.8rem;
  }
 
  .innerTextVacancyRenderCover{
    width: 87vw;
    height: max-content;
  }
 
  .dropDown{
    width: 85vw;
  }
  
  .coverDetail{
    max-width:85vw;
  }
  .coverHeadDetail{
    width:85vw;
  }
  .headFootDetailCover{
    max-width:85vw;
    column-gap: 10px;
    align-items: first baseline;
  }
  
 
  
  .headFootDetail{
    display: flex;
    justify-content: center;
    align-items: first baseline;
    column-gap: 5px;
  }
  
  .detailTitle{
    width: 130px;
  }
  
  .detail{
    width: 60vw;
  }
  .detailHead{
     width: 85vw;
     margin-left: -10px;
   }
}
@media screen and (max-width: 630px) {

  .addressTitle{
    width: 24vw;
  }
  .addresCover{
    width: 24vw;
  }
}

@media screen and (max-width: 625px) {
  
  .addressTitle{
    width: 24.5vw;
  }
  .addresCover{
    width: 24.5vw;
  }
}
@media screen and (max-width: 600px) {
  .filter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid silver;
    background-color: white;
    padding-bottom: 10px;
    height: max-content;
  }

 
  .selectGroup{
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 98vw;
    min-height: 47px;
    max-height: max-content;
  }

  .filterAndSearch{
    font-size: 0.8em;
    max-width: max-content;
  }
  
  .selectCover{
    width: 120px;
  }
  .select{
    width: 120px;
  }
  
  .inputCover{
    width: 120px;
  }
  .input{
    width: 120px;
  }


  
}
@media screen and (max-width: 560px) {



  .filter{
 
    height: max-content;
  
  }
  .selectGroup{
    
    height: max-content;
  }



  .displayFilter{
    width: 98vw;
    height: max-content;
  }

  .addressTitle{
    width: 30vw;
  }
  .addresCover{
    width: 30vw;
  }

}
@media screen and (max-width: 480px) {

  .coverHeadDetail{
    width: 87vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .detailHead{
    width: 87vw;
    transform: translateX(5px);
  }
  .headFootDetail{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: first baseline;
    min-width: 40vw;
  }
  .headFootDetailCover{
    max-width:87vw;
    justify-content: space-between;
    margin-bottom: 20px;
    min-width: 280px;
  }
  .headFootSpan{
    font-size: 0.8rem;
    user-select: none;
    text-transform: uppercase;
    width: 100%;
  }
}

@media screen and (max-width: 410px) {

  .filter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid silver;
    background-color: white;
    padding-bottom: 10px;
    height: fit-content;
  }

  .filterAndSearch{
    display: none;
  }
 

}

@media screen and (max-width: 410px) {
  .detail{
  width: 45vw;
}
}






