.Main{
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
}
.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 80vh;
  padding-top: 5px;
}

.innerFormBody{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 30vw;
  max-width: max-content;
  column-gap: 20px;
  height: 70vh;
  border-radius: 10px;
  
}

.resetForm{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 48vw;
  max-width: max-content;
  column-gap: 20px;
  height: 55vh;
}

.inputCover{
  overflow: hidden;
  width: 300px;
  height: 35px;
  border: 1px solid silver;
  border-radius: 15px;
}

.input{
  border: none;
  width: 300px;
  height: 35px;
  padding-left: 10px;
  font-weight: 400;
  border-radius: 15px;
}

.passcodeContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 300px;
  height: max-content;
  border: 1px solid silver;
  border-radius: 15px;
  overflow: hidden;
  padding-left: -3px;
}

.input1{
  border: none;
  width: 285px;
  height: 35px;
  font-weight: 400;
  padding-left: 10px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.svg{
  width: 20px;
  height: 20px;
  transform: translateX(-3px);
}

.passWordVisibilityBtn{
  border: none;
  width: 30px;
  height: 35px;
  background-color: white;
}

.logInCover{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 120px;
}
.logInButton{
  border-radius: 5px;
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(to right, rgba(3, 135, 3, 0.7), rgba(1, 51, 1, 0.7));
  border: none;
}

.logInButton:hover{
  box-shadow: 0px 0px 1px silver, 0 0 1px silver, 0 0 2.5px silver;
}

.logInWithGoogle{
  width: 300px;
  height: 70px;
  border-radius: 15px;
  position: relative;
  top: 15px;
  left: 0;
  background-color: aliceblue;
  border-radius: 15px;
}
.googleLogIn{
  width: 140px;
  height: fit-content;
  border-radius: 15px;
  position: absolute;
  top: 13px;
  left: 90px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: green;
  background-color: rgb(186, 217, 249);
  padding: 10px;
  border-radius: 15px;
}

.gImgHolder{
  position: absolute;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 15px;
  left: 10px;
}
.gImg{
  width: 70px;
  height: 70px;
}

.forgotPassword{
  border-radius: 5px;
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  user-select: none;
}
.resetCover{
  color: green;
  width: max-content;
  height: max-content;
  font-weight: 400;
  padding-bottom: 1px;
  border-bottom: 1px solid green;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  user-select: none;
}
.logInClickCover{
  color: green;
  width: max-content;
  height: max-content;
  font-weight: 300;
  padding-bottom: 1px;
  border-bottom: 1px solid green;
  cursor: pointer;
  user-select: none;
}
.clickToReset{
  width: max-content;
  font-size: 0.7em;
  user-select: none;
}
.clickToLogIn{
  width: max-content;
 font-size: 0.7em;
 user-select: none;
}

