.aboutUsBodyCover{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: fit-content;
  width: 98vw;
  row-gap: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.rightContainer1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap;
  Min-height: 300px;
  max-height: fit-content;
  border-radius: 10px;
  animation: appearRight linear;
  /* animation-timeline: view();
  animation-range: entry 0% cover 7%; */
}

.rightImg1Cover{
  overflow: hidden;
  border-radius: 5px;
  width: 400px;
  flex-wrap: wrap;
  Min-height: 300px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightTextCover1{
  width: 50vw;
  min-height: 290px;
  max-height: fit-content;
  border-radius: 5px;
}

.rightContainer2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  min-height: 300px;
  max-height: fit-content;
  border-radius: 10px;
  animation: appearRight linear;
  /* animation-timeline: view();
  animation-range: entry 0% cover 7%; */
}

.rightImg2Cover{
  overflow: hidden;
  border-radius: 5px;
  width: 400px;
  flex-wrap: wrap;
  Min-height: 300px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightTextCover2{
  width: 50vw;
  min-height: 290px;
  max-height: fit-content;
  border-radius: 5px;
}

.rightContainer3{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap;
  Min-height: 300px;
  max-height: fit-content;
  border-radius: 10px;
  animation: appearRight linear;
  /* animation-timeline: view();
  animation-range: entry 0% cover 7%; */
}

.rightImg3Cover{
  overflow: hidden;
  border-radius: 5px;
   width: 400px;
  flex-wrap: wrap;
  Min-height: 300px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightTextCover3{
  width: 50vw;
  min-height: 290px;
  max-height: fit-content;
  border-radius: 5px;
}

.leftContainer1{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap;
  Min-height: 300px;
  max-height: fit-content;
  border-radius: 10px;
  animation: appearleft linear;
  /* animation-timeline: view();
  animation-range: entry 0% cover 7%; */
}

.leftImg1Cover{
  overflow: hidden;
  border-radius: 5px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftTextCover1{
  width: 50vw;
  min-height: 290px;
  max-height: fit-content;
  border-radius: 5px;
}

.leftContainer2{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  min-height: 300px;
  max-height: fit-content;
  border-radius: 10px;
  animation: appearleft linear;
  /* animation-timeline: view();
  animation-range: entry 0% cover 7%; */
}

.leftImg2Cover{
  overflow: hidden;
  border-radius: 5px;
   width: 400px;
   flex-wrap: wrap;
   Min-height: 300px;
   max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftTextCover2{
  width: 50vw;
  min-height: 290px;
  max-height: fit-content;
  border-radius: 5px;
}

.leftContainer3{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  width: 90vw;
  flex-wrap: wrap;
  Min-height: 300px;
  max-height: fit-content;
  border-radius: 10px;
  animation: appearleft linear;
  /* animation-timeline: view();
  animation-range: entry 0% cover 7%; */
}

.leftImg3Cover{
  overflow: hidden;
  border-radius: 5px;
   width: 400px;
  flex-wrap: wrap;
  Min-height: 300px;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftTextCover3{
  width: 50vw;
  min-height: 290px;
  max-height: fit-content;
  border-radius: 5px;
}

.seperatorDiv{
  width: 90vw;
  min-height: 100px;
  max-height: fit-content;
  overflow: hidden;
  border-radius: 5px;
  user-select: none;
  color: rgb(253, 191, 34);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  animation: appear linear;
  /* animation-timeline: view();
  animation-range: entry 0% cover 7%; */
  text-transform: uppercase;
}
.seperatorDiv2{
  width: 90vw;
  min-height: 100px;
  max-height: fit-content;
  overflow: hidden;
  border-radius: 5px;
  user-select: none;
  color: goldenrod;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.noteP{
  margin: 0;
}

.containDiv{
  width: 90vw;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: first baseline;
}

.miniDiv{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  min-height: 200px;
  max-height: fit-content;
  text-align: center;
  user-select: none;
  color: goldenrod;
  animation: appear linear;
  /* animation-timeline: view();
  animation-range: entry 0% cover 7%; */
}
.imgMiniDiv{
  width: 200px;
  height: 200px;
}

.img1{
  width: 400px;
  height: 300px;
}

.img2{
   width: 400px;
  height: 300px;
}

.img3{
   width: 400px;
  height: 300px;
}

.cardTitle{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: inherit;
  height: max-content;
  user-select: none;
}

.cardTitleSpan{
  padding: 7px;
  border-radius: 5px;
  font-size: 1.5rem;
  color: green;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  width: max-content;
  height: max-content;
  user-select: none;
  min-width: fit-content;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.introHeader{
  color: green;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}
.introText{
  color:goldenrod;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
}

.introText1{
  color: rgb(50, 50, 50);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.para{
  color: rgb(70, 70, 70);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  line-height: 35px;
}
.highlighted{
  color: rgb(1, 84, 1);
  font-weight: 500;
  text-transform: uppercase;

}
.highlightedi{
  font-weight: 500;
  text-transform: uppercase;
  color: rgb(179, 128, 0);
}
.inHighligthTextGreen{
  color: rgb(0, 47, 0);
  font-weight: 700;
}

.inHighligthTextBoldGreen{
  color: rgb(0, 45, 0);
  font-weight: 700;
  text-transform: uppercase;
}

.inHighligthTextGold{
  color: rgb(156, 112, 1);
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.standAlone{
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: goldenrod;
}

.note{
  font-size: 0.5rem;
  text-transform: uppercase;
  color: green;
  font-weight: 700;
}

@keyframes appearRight {
  from{
    opacity: 0;
    transform: scale(0.9);
  };
  to{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appearleft {
  from{
    opacity: 0;
    transform: scale(0.5);
  };
  to{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear {
  from{
    opacity: 0;
    transform: scale(0.9);
  };
  to{
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 999px) {
  .imgMiniDiv{
    width: 200px;
    height: 200px;
  }
  
  .img1{
    width: 300px;
    height: 200px;
  }
  
  .img2{
    width: 300px;
    height: 200px;
  }
  
  .img3{
    width: 300px;
    height: 200px;
  }

  .leftImg3Cover{
     width: 300px;
  }

  .leftImg2Cover{
     width: 300px;
  }

  .leftImg1Cover{
    width: 300px;
  }
  .rightImg3Cover{
     width: 300px;
  }
  .rightImg2Cover{
    width: 300px;
  }
  .rightImg1Cover{
    width: 300px;
  }
}

@media screen and (max-width: 800px) {

  .containDiv{
  row-gap: 100px;
  }

  .miniDiv{
    width: fit-content;
  }

  .imgMiniDiv{
    width: 50vw;
    height: 200px;
    margin-top: 20px;
  }
  
  .img1{
    width: 60vw;
    height: 200px;
  }
  
  .img2{
    width: 60vw;
    height: 200px;
  }
  
  .img3{
    width: 60vw;
    height: 200px;
  }

  .leftImg3Cover{
     width: 60vw;
  }

  .leftImg2Cover{
     width: 60vw;
  }

  .leftImg1Cover{
    width: 60vw;
  }
  .rightImg3Cover{
     width: 60vw;
  }
  .rightImg2Cover{
    width: 60vw;
  }
  .rightImg1Cover{
    width: 60vw;
  }

  .rightTextCover1{
    width: 90vw;
    min-height: fit-content;
  }
  .rightTextCover2{
    width: 90vw;
    min-height: fit-content;
  }
  .rightTextCover3{
    width: 90vw;
    min-height: fit-content;
  }

  .leftTextCover1{
    width: 90vw;
    min-height: fit-content;
  }
  .leftTextCover2{
    width: 90vw;
    min-height: fit-content;
  }
  .leftTextCover3{
    width: 90vw;
    min-height: fit-content;
  }
  .rightContainer1{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: fit-content;
  }
  .rightContainer2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: fit-content;
  }
  .rightContainer3{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: fit-content;
  }
  .leftContainer1{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    min-height: fit-content;
  }
  .leftContainer2{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px; 
    min-height: fit-content;
  }
  .leftContainer3{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px; 
    min-height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .imgMiniDiv{
    width: 70vw;
    height: 200px;
    margin-top: 20px;
  }
  
  .img1{
    width: 80vw;
    height: 200px;
  }
  
  .img2{
    width: 80vw;
    height: 200px;
  }
  
  .img3{
    width: 80vw;
    height: 200px;
  }

  .leftImg3Cover{
     width: 80vw;
  }

  .leftImg2Cover{
     width: 80vw;
  }

  .leftImg1Cover{
    width: 80vw;
  }
  .rightImg3Cover{
     width: 80vw;
  }
  .rightImg2Cover{
    width: 80vw;
  }
  .rightImg1Cover{
    width: 80vw;
  }
}

@media screen and (max-width: 400px) {
  .cardTitleSpan{
    line-height: 50px;
  }
  .imgMiniDiv{
    width: 80vw;
    height: 200px;
    margin-top: 20px;
  }
  
  .img1{
    width: 90vw;
    height: 200px;
  }
  
  .img2{
    width: 90vw;
    height: 200px;
  }
  
  .img3{
    width: 90vw;
    height: 200px;
  }

  .leftImg3Cover{
     width: 90vw;
  }

  .leftImg2Cover{
     width: 90vw;
  }

  .leftImg1Cover{
    width: 90vw;
  }
  .rightImg3Cover{
     width: 90vw;
  }
  .rightImg2Cover{
    width: 90vw;
  }
  .rightImg1Cover{
    width: 90vw;
  }
}