@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'ProtestGuerrilla';
	src: url('/fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'NerkoOne';
	src: url('/fonts/NerkoOne-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('/fonts/Poppins-Bold.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('/fonts/Poppins-SemiBold.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'PlaywriteCU';
	src: url('/fonts/PlaywriteCU-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

body {
  font-family: 'Poppins-Regular';
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

