@font-face {
	font-family: 'ProtestGuerrilla';
	src: url('/fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'NerkoOne';
	src: url('/fonts/NerkoOne-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('/fonts/Poppins-Bold.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('/fonts/Poppins-SemiBold.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('/fonts/Poppins-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

@font-face {
	font-family: 'PlaywriteCU';
	src: url('/fonts/PlaywriteCU-Regular.ttf') format('truetype'); 

	font-weight: normal;
	font-style: normal; 

}

.children{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  max-height: fit-content;
}

.Main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
  background-color:#f9f9f9;
}


.regNavBodyCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  max-height: fit-content;
	background-image: linear-gradient(to right, rgb(241, 243, 241), white);
 
}

.body{
  display: flex;
  align-items:center baseline;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 98vw;
  min-height: 580px;
  max-height: fit-content;
}
.navHolderFix{
position: fixed;
top: 0;
left: 5px;
z-index: 3;
}

.header{
  margin-top: 20px;
  width: 98vw;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gifIntro{
  margin-left: 10px;
  margin-right: 10px;
  width: fit-content;
  height: fit-content;
}

.headIntro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 180px;
  width: 70%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.categoryCover{
  width: 98vw;
  min-height: 666px;
  display: flex;
  align-items: first baseline;
  justify-content: space-around;
}

.coverVendors{
  width: 320px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.coverJobsMarket{
  width: 67vw;
  min-height: 666px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 1px solid silver;
}

.coverSelectJobsMarket{
  width: 60vw;
  margin-top: 10px;
  padding-bottom: 5px;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
font-family: 'Poppins-SemiBold';
}

.coverSelect{
  width: 30vw;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coverSelectTitle{
  user-select: none;
  width: 30vw;
  height: 33px;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  color: rgb(102, 102, 102);
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
font-family: 'Poppins-SemiBold';
  cursor: pointer;
}

.coverSelectTitle:hover{
  font-weight: 700;
}

.coverSelectTitleHighlighted{
  user-select: none;
  width: 30vw;
  height: 33px;
  display: flex;
  align-items: first baseline;
  justify-content: center;
  color: green;
  font-size: 0.8rem;
  font-weight: 700;
font-family: 'Poppins-SemiBold';
  text-transform: uppercase;
  cursor: pointer;
}

.coverSelectBtn{
  user-select: none;
  width: 30vw;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
font-family: 'Poppins-SemiBold';
}
.selectBtn{
  user-select: none;
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1.8px solid silver;
  color: rgb(102, 102, 102);
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  padding-bottom: 9px;
  cursor: pointer;
}



.selectBtnHighlighted{
  user-select: none;
  width: 50%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: green;
  border-bottom: 1.8px solid green;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 11px;
  padding-bottom: 9px;
  cursor: pointer;
}


.categoryImgCover{
  width: 98vw;
  height: 150px;
}

.categoryImg{
  width: 98vw;
  height: 150px;
  opacity: 0.48;
}
.newsLetter{
  width: 98vw;
  min-height: 170px;
  max-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 770px) {

  .Main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 98vw;
    min-height: max-content;
    max-height: max-content;
  }
  .regNavBodyCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 98vw;
    min-height: max-content;
    max-height: max-content;
    background-image: linear-gradient(to right, rgb(241, 243, 241), white);
  }
  .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98vw;
    height: max-content;
  }
  .categoryCover{
    min-height: max-content;
   flex-direction: column-reverse;
  }
  .coverJobsMarket{
    width: 98vw;
    border-left: none;
    min-height: fit-content;
  }
  .coverSelectJobsMarket{
    width: 98vw;
  
  }
  
  .coverSelect{
    width: 49vw;
  }
  
  .coverSelectTitle{
    width: 49vw;
  }
  
  .coverSelectBtn{
    width: 49vw;
  }
  .categoryBody{
    width: 98vw;
    min-height: max-content;
    max-height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .carouselBody{
    width: 98vw;
    min-height: max-content;
    max-height: max-content;
  }
  .categoryImgCover{
    width: 98vw;
    height: 125px;
  }
  .categoryImg{
    width: 98vw;
    height: 125px;
    opacity: 0.5;
  }
  .coverVendors{
    width: 98vw;
    margin-top: 20px;
  }
}

@media screen and (max-width: 425px) {
  .categoryImgCover{
    width: 98vw;
    height: 100px;
  }
  .categoryImg{
    width: 98vw;
    height: 100px;
    opacity: 0.5;
  }
}