.main{
  flex-grow: 1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem ;
  padding-right: 1rem ;
  padding-top: 2rem ;
  padding-bottom: 2rem ;
}

.cover{
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
  margin-bottom: 3rem /* 48px */;
}
.coverBody{
  background-color: rgb(243 244 246);
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.text{
  font-size: 1.125rem ;
  line-height: 1.75rem ;
  font-weight: 600;
  color: rgb(75 85 99 );
  margin-bottom: 0.5rem;
}
.coverBody:hover{
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  transform: scale(1.05);
  background-color: rgb(213, 215, 218);
}
.coverBodySelect{
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 1.5rem;
}
@media (min-width: 640px) {
  .main {
    max-width: 640px;
  }
  .cover{
    gap: 0.5rem;
  }
}
@media (min-width: 768px) {
  .main {
    max-width: 768px;
  }
  .cover{
    gap: 0.5rem;
  }
}
@media (min-width: 1024px) { 
  .main {
  max-width: 1024px;
}
}
@media (min-width: 1280px) {
.main {
  max-width: 1280px;
}
}
@media (min-width: 1536px) {
.main {
  max-width: 1536px;
}
}